<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&amp;display=swap" rel="stylesheet">
</head>
<body data-gr-c-s-loaded="true" style="margin:0;">
<div class="d-flex align-items-center flex-column" style="margin-left:0px; margin-right:0px; margin-top: 60px; border: 1px solid #333333; border-radius: 5px; width:700px;">
    <div>
        <div style="text-align: center;">
            <img alt="No photo" style="padding:0px;
           max-height: 700px;
    max-width: 700px;
            " src="$qrcodepath"/></div>
    </div>
    <div style="font-family:'Roboto', sans-serif; font-size: 31px;background-color: #eeeeee;width: 100%;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
        <table style="width:100%; text-align: justify; padding-left: 0px;">
            <tbody>
            <tr class="d-flex justify-content-start">
                <td scope="row" style="white-space: nowrap; width: 100%; text-align: left;">&nbsp;&nbsp;&nbsp;$type&nbsp;&nbsp;&nbsp;$time </td>
            </tr>
            <tr class="d-flex justify-content-start">
                <td scope="row" style="white-space: nowrap; width: 100%; text-align: left;">&nbsp;&nbsp;&nbsp;$sessionname1</td>
            </tr>
            <tr class="d-flex justify-content-start">
                <td scope="row" style="white-space: nowrap; width: 100%; text-align: left;">&nbsp;&nbsp;&nbsp;$sessionname2</td>
            </tr>
            <tr class="d-flex justify-content-start">
                <td scope="row" style="white-space: nowrap; width: 100%; text-align: left;">&nbsp;&nbsp;&nbsp;$sessionname3</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>


</html>